html
  title Project Index
  meta(charset='utf-8')
  link(rel='stylesheet', href="/stylesheets/style.css")
  body
    header#header
      p(style='text-align:center')
        center
          font(color='#00FFFF')
            h1 Book Marketplace
    |   
    #container
      main#center.column
        article
          p
            br
          h2
            center Welcome to Book Marketplace! Please select one of the following views: 
          p
          .view-button
            form#form(action='/handle', method='post')
              select#view(name='view')
                option(value='/view1') View 1
                |       
                option(value='/view2') View 2
                |       
                option(value='/view3') View 3
                |       
                option(value='/view4') View 4
                |       
                option(value='/view5') View 5
                |       
                option(value='/view6') View 6
                |       
                option(value='/view7') View 7
                |       
                option(value='/view8') View 8
                |       
                option(value='/view9') View 9
                |       
                option(value='/view10') View 10
                |       
                option(value='/book') View Books
              |     
              input(type='submit', value='Submit')
          |                
          p
            br
            center
      |     
      nav#left.column
        center
          a(href='http://localhost:3000/')
            img(src='http://luispintodecor.com/wp-content/uploads/2015/08/morada.png', style='width:80px;height:80px;', ,='', title='Go to Homepage')
        br
        center
          .dropdown
            a(href='http://localhost:3000/')
              button.dropbtn Log-in
          p
          p
          .dropdown
            a(href='http://localhost:3000/')
              button.dropbtn Search 
          |   
          p
          p
          .dropdown
            a(href='http://localhost:3000/')
              button.dropbtn Buy Now  
          p
          p
          .dropdown
            a(href='http://localhost:3000/')
              button.dropbtn Sell Now  
          |   
          p
          p
          .dropdown
            a(href='http://localhost:3000/')
              button.dropbtn Settings   
        br
        br
        br
        p
          br
          br
      nav#right.column
        p
